# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[client]
socket                          = /var/lib/mysql/mysql.sock
default-character-set           = utf8



[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

symbolic-links			= 0
validate_password_policy	= LOW
validate_password_length	= 7
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error			= /var/lib/mysql/mysqld.log
pid-file			= /var/run/mysqld/mysqld.pid
explicit_defaults_for_timestamp = 1
secure_file_priv = /var/lib/mysql/delta
server-id			= 6001
innodb_strict_mode  		=  ON
event_scheduler = on
group_concat_max_len = 1048576

## Charset and Collation
character-set-server    	= utf8
collation-server    		= utf8_general_ci
log-bin             		= mysql-bin
binlog_format 			= ROW
expire_logs_days    		= 3

## Files
back_log      			= 300
#open-files-limit    = 8192
#open-files      = 1024  
port        			= 3306
skip-external-locking
skip-name-resolve
#secure-file-priv = ""
## Logging
#log        = mysql-gen.log 

slow_query_log 			= 1
slow_query_log_file 		= mysql-slow.log
long_query_time 		= 10

## Query Cache
query_cache_type                = 1 # Enable query cache
query_cache_size    		= 32M #global buffer
query_cache_limit     		= 512K  #max query result size to put in cache

## Connections
max_connections    		= 500 #multiplier for memory usage via per-thread buffers
max_connect_errors   		= 100 #default: 10
concurrent_insert   		= 2 #default: 1, 2: enable insert for all instances
connect_timeout     		= 30  #default -5.1.22: 5, +5.1.22: 10
max_allowed_packet   		= 32M #max size of incoming data to allow
wait_timeout                    = 1800000
## Default Table Settings
sql_mode     			= NO_AUTO_CREATE_USER

## Table and TMP settings
max_heap_table_size     	= 128M  #recommend same size as tmp_table_size
bulk_insert_buffer_size 	= 128M  #recommend same size as tmp_table_size
tmp_table_size          	= 128M 
#tmpdir                         = /data/mysql-tmp0:/data/mysql-tmp1 #Recommend using RAMDISK for tmpdir

replicate-do-db             	= uniware

## InnoDB Plugin Independent Settings
innodb_data_home_dir            = /var/lib/mysql
innodb_data_file_path   	= ibdata1:128M;ibdata2:128M:autoextend
innodb_log_file_size    	= 64M #64G_RAM+ = 768, 24G_RAM+ = 512, 8G_RAM+ = 256, 2G_RAM+ = 128 
innodb_log_files_in_group 	= 4 #combined size of all logs <4GB. <2G_RAM = 2, >2G_RAM = 4
innodb_buffer_pool_size         = BUFFER_SIZE   #global buffer
innodb_status_file        #extra reporting
innodb_file_per_table     #enable always
innodb_flush_log_at_trx_commit  = 2 #2/0 = perf, 1 = ACID
innodb_table_locks    		= 0 #preserve table locks
innodb_log_buffer_size    	= 32M   #global buffer
innodb_lock_wait_timeout  	= 60  
innodb_thread_concurrency       = NUM_THREADS  #recommend 2x core quantity
innodb_commit_concurrency 	= 2  #recommend 4x num disks
innodb_support_xa   		= 0      #recommend 0, disable xa to negate extra disk flush
skip-innodb-doublewrite

## Binlog sync settings
## XA transactions = 1, otherwise set to 0 for best performance
sync_binlog     		= 0

## TX Isolation
transaction-isolation   	= REPEATABLE-READ #REPEATABLE-READ req for ACID, SERIALIZABLE req XA

[mysqldump]
quick
quote-names
max_allowed_packet    		= 128M

[mysql]
syslog
